Source: webdoc
Section: python
Priority: extra
Maintainer: Ryan Marquardt <ryan@integralws.com>
Build-Depends: cdbs (>= 0.4.62), debhelper (>= 7.4), python (>= 2.6), python-support
Standards-Version: 3.8.4

Package: python-webdoc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: webdoc

Package: python-webdb
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: webdb
 Data abstraction layer for python
 .
 This package includes the driver for sqlite3 databases, and common bits for all
 other drivers
