Source: silk
Section: python
Priority: extra
Maintainer: Ryan Marquardt <ryan@integralws.com>
Build-Depends: cdbs (>= 0.4.62), debhelper (>= 7.4), python (>= 2.6), python-support
Standards-Version: 3.9.3

Package: python-silk
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-silk-webdb-all, python-silk-webdoc
Description: Tools for webapps
 .
 This empty package depends on all silk modules and can be safely removed

Package: python-silk-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Tools for webapps
 .
 This package provides common functions and datatypes that all others need

Package: python-silk-webdoc
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-silk-common
Description: Document model for HTML/CSS
 This package include tools for creating and modifying documents.

Package: python-silk-webdb
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-silk-common
Description: Data abstraction layer for python
 Webdb is a database abstraction interface which simplifies storing data in
 relational databases.
 .
 This package includes the driver for sqlite3 databases, and common bits for all
 other drivers

Package: python-silk-webdb-mysql
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-silk-webdb, python-mysqldb
Description: Data abstraction layer for python
 Webdb is a database abstraction interface which simplifies storing data in
 relational databases.
 .
 This package includes the driver for mysql databases
